.body {
    background-color: #ccc;
}

h1 {
    text-align: center;
    color: red;
}

#client-table {
    margin: 0 auto;
    width: 50%;
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

#client-table th {
    background-color: #C41200;
    color: #fff;
    padding: 5px;
    text-align: left;
}

#client-table td {
    padding: 10px;
    border: 1px solid gray;
    text-align: left;
}

#client-table tr:nth-child(odd) {
    background-color: #eee;
}

#client-table tr:nth-child(even) {
    background-color: #fff;
}

#noClients,
#noContacts {
    font-family: Raleway;
    text-align: center;
    color: #C41200;
    font-weight: bold
}